################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiLoginProject/FileContentIndex/31f3701b-c153-4356-ab45-ae7f69468ae3.vsidx
/.vs/ApiLoginProject/FileContentIndex/57a9345e-9bc1-4189-bd73-f02a21f50862.vsidx
/.vs/ApiLoginProject/FileContentIndex/57eb3dfb-91b0-49ad-80c0-3a7f33bd16d0.vsidx
/.vs/ApiLoginProject/FileContentIndex/a85c5177-b870-4f7a-8576-9225f3409801.vsidx
/.vs/ApiLoginProject/FileContentIndex/d353c56c-71d8-4346-b1af-6e8e486c6b3b.vsidx
